.containerMovie {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url('../../assets/images/backgroundHome.jpg');
  background-attachment: fixed;
  background-size: cover;
}
