.backgroundDetails {
  position: relative;
  height: calc(100vh - 72px);
  opacity: 0.5;
}
.container1 {
  width: 100%;
  max-width: 96% !important;
  margin-left: 2%;
  margin-top: 20px;
  height: calc(100vh - 120px);
  position: absolute;
  top: 72px;
  left: 0;
  border: 5px solid black;
}
.poster {
  width: 25% !important;
  height: 450px;
  position: absolute;
  top: 40px;
  left: 30px;
  border: 1px solid black;
}

.poster img {
    width: 100%;
    height: 100%;
}

.title {
  padding-left: 15px;
    font-size: 35px;
  width: 65% !important;
  height: 60px;
  position: absolute;
  top: 40px;
  right: 30px;
  border: 1px solid black;
  border-bottom: none;
}

.info {
  padding-left: 28px;
  width: 65% !important;
  height: 390px;
  position: absolute;
  top: 100px;
  right: 30px;
  border: 1px solid black;
}

.info b {
  font-size: 22px;
}

.info b i {
  font-size: 17px;
}

.info p i {
  font-size: 16px;
}
