.registerBackground {
  background-image: url('../../assets/images/registerLoginBackground.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.textM {
  color: black;
}

@media screen and (max-width: 1330px) {
  .registerBackground {
    height: 135vh;
  }
}
