.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
}

.favoriteBackground {
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(100vh - 64px);
  line-height: 50vh;
}

.favoriteBackground h1 {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgb(255, 0, 0);
  font-size: 70px;
}


